@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap");
.carousel {
  position: relative;
  height: 320px;
  width: 320px;
  margin-inline: auto;
}

.carousel img {
  width: 100%;
  object-fit: cover;
}

.carousel__track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 2vmax;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 0;
}

.carousel__btn {
  color: var(--accent);
  font-size: 3.5em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
  z-index: 2;
}

.carousel__btn--left {
  left: -5vw;
}

.carousel__btn--right {
  right: -5vw;
}

.is-hidden {
  display: none;
}

@media (min-width: 1200px) {
  .carousel {
    width: 500px;
    height: 500px;
  }
}

/* projects */
.projects-container {
  text-align: center;
  margin: 0 auto;
}

.projects-container a {
  color: var(--dark);
  text-decoration: none;
  display: block;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* colors */
:root {
  --green: #012619;
  --dark: #730202;
  --red: #A60303;
  --light: #D9D1C7;
  --navy: #032340;
  --blue: #5B89A6;
  --accent: #F20505;
  --dark-brown: #590202;
  --brown: #8C0303;
  --font-size: 14px;
}

/* project specific styles */
body {
  font-family: 'Playfair Display', serif;
  font-size: var(--font-size);
  color: var(--dark);
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  color: var(--green);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 1vmax 2vmax;
  padding: 9vmax 5vmin 2vmin;
  background-color: rgba(217, 209, 199, 0.6);
  position: relative;
}

.header, .footer {
  text-align: center;
}

/* header */
.main-title {
  font-size: calc(var(--font-size)*1.4);
  margin-bottom: 1vmax;
  position: absolute;
  display: inline;
  top: 0.5em;
  left: 2em;
}

.main-title::before,
.main-title::after {
  content: '';
  background-color: var(--accent);
  height: 0.5em;
  width: 0.5em;
  display: block;
  position: absolute;
  bottom: 0.4em;
}

.main-title::before {
  left: -1.2em;
}

.main-title::after {
  right: -1.2em;
}

h2 {
  text-transform: uppercase;
  font-size: calc(var(--font-size)*1.2);
  margin-bottom: 0.5em;
}

.intro {
  max-width: 800px;
  width: 60vw;
  margin: 0 auto 2.5vmax;
}

.change-span {
  cursor: pointer;
  color: var(--green);
}

.special-char {
  color: var(--accent);
  padding: 0 0.4em;
}

hr {
  border: 0;
  border-top: 3px dashed var(--accent);
  width: 60vw;
  max-width: 880px;
  margin-bottom: 2vmax;
}

/* content */
.header, .content {
  margin-bottom: 1vw;
}

.content > * {
  margin: 0 auto 2em;
}

.content__text,
.content__projects {
  padding: 2vmin;
  text-align: center;
}

.content__text {
  max-width: 300px;
}

/* text */
.quote-mark {
  font-size: 1.5em;
  font-family: 'Hahmlet';
  color: var(--accent);
}

/* footer */
footer {
  background-color: #d9d1c7;
  padding-top: 10px;
}

.contact-links {
  display: flex;
  justify-content: center;
}

.contact-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  border-radius: 5px;
  width: 7vw;
  max-width: 50px;
  margin: 0 2vmax 2vmax;
  padding: 1vmin;
}

.footer img {
  object-fit: cover;
}

/* end footer */
@media (min-width: 600px) {
  :root {
    --fontsize: 18px;
  }
}

@media (min-width: 900px) {
  :root {
    --font-size: 22px;
  }
  .content {
    columns: 3;
  }
  hr {
    border-top: 5px dashed var(--green);
  }
}

@media (min-width: 1200px) {
  :root {
    --font-size: 25px;
  }
}
/*# sourceMappingURL=style.css.map */