/* projects */

.projects-container {
    text-align: center;
    margin: 0 auto;
  
    a {
        color: var(--dark);
        text-decoration: none;
        display: block;
        position: relative;
    }
  }
