.secret-passage {
    background-color: var(--red);
    width: 100vw;
    height: 100vh;
    padding: 10vmin;
}

.secret-passage__main {
    background-color: white;
    width: 70vw;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 5vmax;
  }

input {
    display: block;
    margin: 0 auto 2vmax;
    border: 1px solid var(--blue);
    border-radius: 2px;
    padding: 0.2em 0.5em;
    outline: 1px solid var(--blue);
}

input:focus {
    outline-width: 3px;
}

.secret-passage__btn {
    background-color: var(--blue);
    color: white;
    transition: transform var(--transition);

    &:hover {
        transform: scale(1.1);
    }
}