@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap");
@import 'slider';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  line-height: 1.5;
  color: var(--base-dark);
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* colors */

:root {
  --base-green: #012619;
  --base-dark: #730202;
  --base-orange: #A60303;
  --base-light: #D9D1C7;
  --base-accent: #ffda08;
  --base-fontsize: 1.5em;
}

/* project specific styles */

body {
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  color: var(--base-green);
}

h1 {
  font-size: calc(1.5em*1.3);
  margin-bottom: 1em;
}

h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

///--- container ---///

.container {
  margin: 2vmax;
  padding: 5vmin;
  background-color: rgba(#D9D1C7, 0.2);
}

.header, .content, .footer {
    margin: 0 auto 3vmax;
}

.header, .footer {
    text-align: center;
}

/* header */

.main-title {
  text-align: left;
}

.intro {
  max-width: 800px;
  font-size: 1.2em;
  margin: 0 auto 2.5vmax;
}

.change-span {
  cursor: pointer;
  color: var(--base-green);
}

.special-char {
  color: var(--base-accent);
}

hr {
  border: 0;
  border-top: 5px dashed var(--base-orange);
  width: 60vw;
  max-width: 600px;
}

/* content */ 

.content > * {
  margin: 0 auto 2em;
}

.content__text, 
.content__projects {
  padding: 0 1.5em;
  text-align: center;
}

/* text */
 .quote {
   font-size: 1.2em;
   font-family: 'Hahmlet';
 }

/* slider */ 

.slider__item {
  
  
  .figcaption {
    font-size: calc(1.5em*0.5);
  }
}

/* projects */

ul {
  margin: 0 20%;
  font-size: calc(1.5em * 0.9);
  text-align: left;

  li {
    margin-bottom: 0.5vh;

    &::marker {
      color: var(--base-accent);
    }
  }

  a {
    color: var(--base-green);
    text-decoration: none;
  }
}

/* footer */

.footer {
  display: flex;
  justify-content: center;
  background-color: rgba(#D9D1C7, 1);
}

.footer__contact-icon {
  width: 15vw;
  max-width: 60px;
  margin: 2vw;
}

/* end footer */

@media (min-width: 600px) {
  :root {
    --base-fontsize: 5em;
  }

  .content {
    columns: 3;
}
}