@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap");
@import 'slider';
@import 'projects';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* colors */

:root {
  --green: #012619;
  --dark: #730202;
  --red: #A60303;
  --light: #D9D1C7;
  --navy: #032340;
  --blue: #5B89A6;
  --accent: #F20505;
  --dark-brown: #590202;
  --brown: #8C0303;
  --font-size: 14px;
}

/* project specific styles */

body {
  font-family: 'Playfair Display', serif;
  font-size: var(--font-size);
  color: var(--dark);
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  color: var(--green);
}

///--- container ---///

.container {
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  min-height: 100vh;
  margin: 1vmax 2vmax;
  padding: 9vmax 5vmin 2vmin;
  background-color: rgba(#D9D1C7, 0.6);
  position: relative;
}

.header, .footer {
    text-align: center;
}

/* header */

.main-title {
  font-size: calc(var(--font-size)*1.4);
  margin-bottom: 1vmax;
  position: absolute;
  display: inline;
  top: 0.5em;
  left: 2em;
}

.main-title::before, 
.main-title::after {
  content: '';
  background-color: var(--accent);
  height: 0.5em;
  width: 0.5em;
  display: block;
  position: absolute;
  bottom: 0.4em;
}

.main-title::before {
  left: -1.2em;
  
}

.main-title::after {
  right: -1.2em;
}

h2 {
  text-transform: uppercase;
  font-size: calc(var(--font-size)*1.2);
  margin-bottom: 0.5em;
}

.intro {
  max-width: 800px;
  width: 60vw;
  margin: 0 auto 2.5vmax;
}

.change-span {
  cursor: pointer;
  color: var(--green);
}

.special-char {
  color: var(--accent);
  padding: 0 0.4em;
}

hr {
  border: 0;
  border-top: 3px dashed var(--accent);
  width: 60vw;
  max-width: 880px;
  margin-bottom: 2vmax;
}

/* content */ 

.header, .content {
  margin-bottom: 1vw;
}

.content > * {
  margin: 0 auto 2em;
}

.content__text, 
.content__projects {
  padding: 2vmin;
  text-align: center;
}

.content__text {
  max-width: 300px;
}

/* text */

 .quote-mark {
   font-size: 1.5em;
   font-family: 'Hahmlet';
   color: var(--accent);
 }

/* footer */

footer {
  background-color: rgba(#D9D1C7, 1);
  padding-top: 10px;
}

.contact-links {
  display: flex;
  justify-content: center;
}

.contact-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  border-radius: 5px;
  width: 7vw;
  max-width: 50px;
  margin: 0 2vmax 2vmax;
  padding: 1vmin;
}

.footer img {
    object-fit: cover;
    //margin-left: -1px;
  }

/* end footer */

@media (min-width: 600px) {
  :root {
    --fontsize: 18px;
  }
}

@media (min-width: 900px) {
  :root {
    --font-size: 22px;
  }

  .content {
    columns: 3;
  }

  hr {
    border-top: 5px dashed var(--green);
  }
}

@media (min-width: 1200px) {
  :root {
    --font-size: 25px;
  }
}