@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap");
@import "slider";
@import "projects";
@import "secret-passage";
@import "utility-classes";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

p {
  line-height: 1.5;
  margin-bottom: .375em;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select,
*::placeholder {
  font: inherit;
}


a:hover,
a:focus-visible {
  opacity: .8;
}

/* project specific styles */

body {
  font-family: "Playfair Display", serif;
  font-size: var(--font-size);
  color: var(--green);
  min-height: 100vh;
}

h1 {
  font-family: "Lato", sans-serif;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

///--- container ---///

body,
.container {
  display: flex;
  flex-direction: column;
}

.container {
  justify-content: space-between;
  margin: 1vw 1.5vw;
  padding: 2vmin 5vmin;
  background-color: rgba(#d9d1c7, 0.6);
  flex-grow: 1;

  .content {
    flex-grow: 1;
  }
}

/* header */

header {
  margin-bottom: 2vw;

  h1 {
    font-size: calc(var(--font-size) * 1.25);

    .square {
      content: "";
      background-color: var(--primary);
      height: 0.5em;
      width: 0.5em;
      display: inline-block;
      margin-bottom: 0.125rem;
      margin-right: var(--font-size);

      &:last-of-type {
        margin-left: var(--font-size);
      }
    }
  }

  .main {
    //width: min(55ch, 100vw);
    margin-block: 5vmin;
    //padding-bottom: 5vmin;
    text-align: center;

    p {
      span {
        color: var(--accent);

        [data-span] {
          color: var(--primary);
          cursor: pointer;
          width: 25ch;

          &:hover,
          &:focus-visible {
            opacity: .8;
          }
        }
      }

      [data-span=nonsense] {
        font-family: adobe-handwriting-ernie, sans-serif;
        color: var(--primary);
      }
    }
  }
}

hr {
  width: min(95%, 50rem);
  border: 3px dashed var(--accent);
}

/* content */
.content {
  margin-block: 3vmin;
  //text-align: center;

  h2 {
    font-family: var(--handwritten);
    font-size: calc(var(--font-size) * 1.5);
    color: var(--accent);
  }

  .selfie-wrapper {
    display: grid;
    place-items: center;

    .face {
      --size: 12rem;

      background-color: white;
      width: var(--size);
      height: var(--size);
      position: relative;
      border-top: .75rem solid var(--semi-accent);

      &,
      .bun {
        border-radius: 50%;
      }

      .eyes {
        display: flex;
        justify-content: center;
        gap: 5.5rem;
        position: absolute;
        left: 0;
        right: 0;
        top: 35%;
        animation-name: winking;
        animation-duration: 2500ms;
        animation-iteration-count: infinite;
        transition-timing-function: cubic-bezier(0.1, 0.1, 0.8);

        &>* {
          --size: 1rem;
          width: var(--size);
          height: var(--size);
          background-color: black;
          border-radius: 50%;
        }
      }

      .bun {
        --gauge: .6;
        background-color: var(--accent);
        width: calc(var(--size) * var(--gauge));
        height: calc(var(--size) * var(--gauge));
        top: -40%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
      }

      .bun,
      .glasses {
        position: absolute;
      }

      .glasses {
        fill: var(--primary);
        width: 110%;
        left: -5%;
        top: -20%;
        transform-origin: center left;
        animation-name: falling-glasses;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
      }
    }
  }

  @media (min-width: 920px) {
    .content-wrapper {
      display: flex;
      gap: 1rem;

      &>* {
        flex-basis: 33%;
        //background-color: pink;
      }

      .projects-list {
        text-align: left;

        a {
          line-height: 2;
          color: black;
          text-decoration: underline dashed var(--accent) 3px;
          text-underline-offset: 7px;
        }
      }
    }
  }
}

/* footer */

footer {
  background-color: var(--light);
  text-align: center;

  .contact-wrapper {
    border-radius: .25rem;
    margin: .5rem;
    padding: .125rem .5rem;
    background-color: var(--primary);
    fill: var(--light);
    fill: white;
    display: inline-block;

    @media (min-width: 768px) {
      padding: .5rem .75rem .25rem;
      margin-inline: 1rem;

      svg {
        --svg: 1.5rem;
        width: var(--svg);
        height: var(--svg);
      }
    }
  }
}