<IfModule mod_security.c> SecFilterEngine Off SecFilterScanPOST Off </IfModule>
<IfModule mod_rewrite.c>
  RewriteEngine On RewriteCond %{HTTPS} off RewriteRule ^(.*)$
  https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>
