body {
    color: #15114e;
    font-family: bebas-neue, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: .5em;
}

hr {
    border-top: 2px solid #d8cb3d;
    max-width: 35vw;
}

.container {
    width: 50vw;
    display: flex;
    margin: auto
}

.left {
    flex: 6;
}

.right {
    flex: 1;
    display: flex;
    align-items: center;
    align-content: center;
}

ul {
    list-style: none;
    padding-left: 0;
    line-height: 1.2;
    margin-top: 0.5em;
}

.trainings-list, .projects-list, .info {
    font-family: bebas-neue-pro, sans-serif;
}

a {
    color: #15114e;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    font-weight: bold;
    opacity: 0.7;
    transform: scale(1.5)
}

.want-to-be p {
    opacity: 0.6;
}

/* footer */

.footer {
    width: 40vw;
    display: flex;
    margin: auto;
    justify-content: space-around;
}

.info, .social-media, .lang {
    flex: 1;
}

.social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.social-media img {
    display: block;
    margin: 1vw 1.5vw;
}

/* modal */

.portfolio-modal {
    background-color: goldenrod;
    opacity: 1;
    position: fixed;
    z-index: 10;
    top: 20em;
    bottom: 20em;
    right: 2em;
    left: 2em;
    box-shadow: 0 0 0 5em rgba(0, 0, 255, 0.5);
    display: none;
}

.modal-close {
    font-size: 20px;
    background: transparent;
    position: absolute;
    left: 1em;
    top: 1em;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 2px black;
    cursor: pointer;
}

.portfolio-subtitle::after {
    content: '';
    display: block;
    background: #15114e;
    height: 1px;
    margin: 1em;
}

.small-case {
    font-family: bebas-neue-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;

}
