.carousel {
    position: relative;
    height: 310px;
    width: 310px;
    max-width: 100vw;
    margin-bottom: 3vh;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.carousel__track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 5vmax;
}

.carousel__track {
    padding: 0;
    //margin: 0;
    list-style: none ;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
}

.carousel__btn {
    color: var(--accent);
    font-size: 3.5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
    z-index: 2;
}

.carousel__btn--left {
    left: -2vw;
}

.carousel__btn--right {
    right: -2vw;
}

.is-hidden {
    display: none;
}

