:root {
  --accent: #f5a400;
  --primary: rgb(236, 5, 52);
  --semi-primary: rgba(236, 5, 52, .5);
  --semi-accent: rgba(245, 164, 0, .65);
  --semi-accent: rgba(245, 164, 0, .5);
  // --primary: rgb(245, 55, 92);
  --green: #012619;
  --dark: #730202;
  --red: #a60303;
  --light: #d9d1c7;
  --navy: #032340;
  --blue: #5b89a6;
  --dark-brown: #590202;
  --brown: #8c0303;
  --font-size: 1rem;
  --handwirtten: "adobe-handwriting-ernie", sans-serif;
  --transition: 500ms ease-out;
  --handwritten: adobe-handwriting-ernie, sans-serif;

  @media (min-width: 920px) {
    --font-size: 1.25rem;
  }
}

.text-accent {
  color: var(--accent);
}

// .text-primary {
//   color: var(--primary);
// }

.text-capitalize {
  text-transform: capitalize;
}

.handwriting {
  font-family: var(--handwirtten);
  font-weight: 400;
  font-style: normal;
}

.handwritten {
  font-family: adobe-handwriting-ernie, sans-serif;
}

.display-none {
  display: none;
}

@keyframes winking {

  4%,
  15% {
    transform: scaleY(.3);
  }

  8%,
  25% {
    transform: scaleY(1);
  }
}

// @keyframes winking {
//   0% {
//     transform: scaleY(1);
//   }

//   4% {
//     transform: scaleY(.3);
//   }

//   8% {
//     transform: scaleY(1);
//   }

//   15% {
//     transform: scaleY(.3);
//   }

//   25% {
//     transform: scaleY(1);
//   }
// }

@keyframes falling-glasses {
  0% {
    transform: rotate(0);
  }

  10%, 10.5% {
    transform: rotate(109deg);
  }

  17% {
    transform: rotate(70deg);
  }

  22% {
    transform: rotate(108deg);
  }

  28% {
    transform: rotate(72deg);
  }

  34% {
    transform: rotate(105deg);
  }

  40% {
    transform: rotate(74deg);
  }

  46% {
    transform: rotate(102deg);
  }

  52% {
    transform: rotate(0);
  }
}