@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap");
@import "slider";
@import "projects";
@import "secret-passage";
@import "utility-classes";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

p {
  line-height: 1.5;
  margin-bottom: .375em;
}

img,
picture {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  color: var(--dark);
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: .75rem;
}

input,
button,
textarea,
select,
*::placeholder {
  font: inherit;
}


a:hover,
a:focus-visible {
  //opacity: .8;
  transform: scale(1.1);
}

/* project specific styles */

body {
  font-family: "Playfair Display", serif;
  font-size: var(--font-size);
  min-height: 100vh;
}

h1 {
  font-family: "Lato", sans-serif;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

///--- container ---///

body,
.container {
  display: flex;
  flex-direction: column;
}

.container {
  justify-content: space-between;
  margin: 1vw 1.5vw;
  padding: 2vmin 5vmin;
  background-color: rgba(#d9d1c7, 0.6);
  flex-grow: 1;

  .content {
    flex-grow: 1;
  }
}

/* header */

header {
  h1 {
    font-size: calc(var(--font-size) * 1.25);

    .square {
      content: "";
      background-color: var(--primary);
      height: 0.5em;
      width: 0.5em;
      display: inline-block;
      margin-bottom: 0.125rem;
      margin-right: var(--font-size);

      &:last-of-type {
        margin-left: var(--font-size);
      }
    }
  }

  .main {
    width: fit-content;
    margin: 2vmin auto;
    padding: 1.5em;
    text-align: center;
    border-bottom: 5px dashed var(--accent);

    p {
      span {
        color: var(--primary);

        [data-span] {
          color: var(--accent);
          transition: color 300ms ease-in;
          cursor: pointer;
          width: 25ch;

          &:hover,
          &:focus-visible {
            color: var(--primary);
          }
        }
      }

      [data-span=nonsense] {
        font-family: adobe-handwriting-ernie, sans-serif;
        color: var(--accent);
      }
    }
  }

  @media (min-width: 920px) {
    padding: 1.5em 5vh;
  }
}

// hr {
//   width: min(95%, 50rem);
//   border: 3px dashed var(--accent);
// }

/* content */
.content {
  margin-block: 3vmin;
  //text-align: center;

  .content-wrapper {
    h2 {
      font-family: var(--handwritten);
      font-size: calc(var(--font-size) * 1.75);
      color: var(--accent);
      position: relative;
      z-index: 2;
    }

    .selfie-wrapper {
      display: grid;
      place-items: center;

      .face {
        --size: 12rem;

        background-color: white;
        width: var(--size);
        height: var(--size);
        position: relative;
        border-top: .75rem solid var(--semi-accent);

        &,
        .bun {
          border-radius: 50%;
        }

        .eyes {
          display: flex;
          justify-content: center;
          gap: 5.5rem;
          position: absolute;
          left: 0;
          right: 0;
          top: 35%;
          animation-name: winking;
          animation-duration: 2500ms;
          animation-iteration-count: infinite;
          transition-timing-function: cubic-bezier(0.1, 0.1, 0.8);

          &>* {
            --size: 1rem;
            width: var(--size);
            height: var(--size);
            background-color: black;
            border-radius: 50%;
          }
        }

        .bun {
          --gauge: .6;
          background-color: var(--accent);
          width: calc(var(--size) * var(--gauge));
          height: calc(var(--size) * var(--gauge));
          top: -40%;
          left: 50%;
          transform: translateX(-50%);
          z-index: -1;
        }

        .bun,
        .glasses {
          position: absolute;
        }

        .glasses {
          fill: var(--primary);
          width: 110%;
          left: -5%;
          top: -20%;
          transform-origin: center left;
          animation-name: falling-glasses;
          animation-duration: 6s;
          animation-iteration-count: infinite;
          animation-fill-mode: forwards;
        }
      }
    }

    .projects-wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    .project-wrapper {
      aspect-ratio: 16/9;
      flex-basis: 45%;
      margin: .5rem;
      opacity: .8;
      transition: opacity 250ms ease-in;
      position: relative;

      &.link:focus-visible,
      &.link:hover {
        opacity: 1;
        cursor: pointer;
      }

      &.link:visited {
        border: 1px solid var(--accent);
      }
    }

    @media (min-width: 992px) {
      display: flex;
      justify-content: space-evenly;

      .projects {
        flex-basis: 50%;
        display: flex;
        flex-wrap: nowrap;
        gap: 2rem;
      }

      .projects-wrapper {
        display: flex;
        flex-wrap: wrap;

        &>* {
          flex-basis: 30%;
        }
      }
    }
  }
}

/* footer */
footer {
  background-color: var(--light);
  text-align: center;

  .contact-wrapper {
    border-radius: .25rem;
    margin: .5rem;
    padding: .125rem .5rem;
    background-color: var(--primary);
    fill: var(--light);
    fill: white;
    display: inline-block;

    @media (min-width: 768px) {
      padding: .5rem .75rem .25rem;
      margin-inline: 1rem;

      svg {
        --svg: 1.5rem;
        width: var(--svg);
        height: var(--svg);
      }
    }
  }
}